#sidebar > .options > a:hover {
	background-color: #232323;
	transition: 0s;
}
body {
	background-color: rgba(0, 0, 0, 0);
}
#sidebar {
	background-color: rgb(0, 0, 0);
	text-shadow: none;
	color: #fff;
}
#sidebar>.userdata .avatar .sessionswitch {
	color: #fff;
}
.amberVolakisImg {
	display: table-caption;
  margin: 0 auto;
}