#sidebar {
	background-color: rgb(0, 0, 0);
	text-shadow: none;
	color: #fff;

	> .options > a:hover {
		background-color: #232323;
		transition: 0s;
	}

	> .userdata .avatar .sessionswitch {
		color: #fff;
	}
}

.amberVolakisImg {
	display: table-caption;
  margin: 0 auto;
}

#mobile-header {
	color: #fff;
  background-color: #000;
}

body {
	background-color: rgba(0, 0, 0, 0);
}