#h1cim {
	margin-bottom: 20px;
	margin-left: 4px;
}

.teachers {
	display: block;
	list-style: none;
	padding: 0px;
	margin: 10px 0px 0px;
	font-size: 0px;
}
.teachers li {
	display: inline-block;
	padding: 7px;
	margin: 5px;
	border-radius: 5px;
	color: #fff;
	overflow: hidden;
	background-color: rgba(0,0,0,.40);
	/* background-color: #AEC1EB; */
}
.teachers li:nth-child(6n+0) { background-color: #66CCFF }
.teachers li:nth-child(6n+1) { background-color: #669CFF }
.teachers li:nth-child(6n+2) { background-color: #7D66FF }
.teachers li:nth-child(6n+3) { background-color: #C966FF }
.teachers li:nth-child(6n+4) { background-color: #FF66BA }
.teachers li:nth-child(6n+5) { background-color: #FF7066 }
.teachers li:nth-child(6n+6) { background-color: #FFA466 }

.teachers > .new { background-color: rgba(0,0,0,.40) !important }

.teachers li > div {
	font-size: 18px;

	text-shadow: 0 0 5px rgba(0,0,0,.5);
}
.teachers li > .top {
	margin-bottom: 5px;
}

.teachers li > .top > span {
	display: block;
	margin-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.teachers li > .bottom a {
	color: #fff !important;
	font-size: 24px;
	opacity: .8;
	border: 0;
	transition: opacity .1s !important;
}
.teachers li > .bottom a:hover {
	opacity: 1;
}
.teachers li > .top > .rovid {
	font-size: 1.3em;
}
.teachers li > .top > .nev {
	font-style: italic;
}

/* Hozzáadás */
.add_lesson {
	background-color: rgba(0,0,0,0.1);
	padding: 11px;
	border-radius: 8px;
	/*color: #DFE5F5;*/
	padding-right: 14px;
}
.add_lesson > p {
	margin: 0;
	margin-bottom: 5px !important;
	padding: 0;
}

.addlesson {
	padding: 6px !important;
	font-size: .9em !important;
}


.lesson_list {
    background-color:  rgba(0,0,0,0.1);
    margin-bottom: 8px;
    padding: 5px;
    padding-right: 20px;
    border-radius: 7px;
   /* color: #DFE5F5;*/
}

.l_l_utag {
    list-style-type: circle;
    margin: 0;
    padding-left: 32px;
}

.l_l_addedtext {
    margin: 3px 0px 4px 4px;
}

.l_l_deleteopt {
    vertical-align: middle;
    margin-left: 2px;
    margin-bottom: 1px;
}

.l_l_deleteopt:hover:before {
    text-decoration: underline !important;
}

.l_l_textspan {
	background-color: #DBE1FF;
}

.l_l_utag > li {
	margin-bottom: 3px;
}

.sp-container.sp-light.sp-input-disabled.sp-palette-buttons-disabled.sp-palette-disabled.sp-initial-disabled {
	height: 190px;
}

/* Tanár hozzáadás form */

.a_t_f_sendButton {
	margin-top: 11px;
}
.a_t_f_firstParagraph {
	margin-top: 11px;
}
.add_teacher_form {
	background-color: rgba(0,0,0,0.1);
	padding: 12px;
	width: 33%;
	margin-top: 9px;
	margin-left: 4px;
	border-radius: 6px;
}
h3 {
	margin: 0;
}