@media all and (max-width: 650px) {
	.expand-section {
		display: block;
		width: calc(100% - 10px);
	}
	.expandable-section {
		border-top-right-radius: 0px !important;
	}
	#data tr td.timestamp .dynt-el {
		text-decoration: underline;
		color: #059;
		cursor: pointer;
	}
	#data tr td.timestamp .dynt-el:after,
	#data tr td.timestamp .dynt-el:before {
		content: "" !important;
	}
	#data tr td.timestamp time {
		display: none;
	}
}
@media all and (min-width: 500px) {
	#dialogContent .modal-ip {
		display: none;
	}
}
@media all and (max-width: 500px) {
	#data tr td.ip {
		display: none;
	}
}
#data {
	width: 99%;
}
#data tr td.entryid {
	max-width: 5.5%;
	text-align: center;
}
#data tbody tr td.entryid {
	font-size: 1.6em;
}
#data tr td.timestamp {
	width: 15%;
}
#data tr td.timestamp .dynt-el:before {
	content: " (";
}
#data tr td.timestamp .dynt-el:after {
	content: ")";
}
#data tr td.ip {
	width: 7.5%;
}

#data tr td.ip .self {
	font-size: .8em;
}
#data tr td.reftype {
	width: 72%;
	padding: 12px;
	text-align: left !important;
}
.expand-section {
	display: inline-block;
	background-color: rgba(0,0,0,.15);
	border-radius: 5px;
	padding: 3px 5px;
	cursor: pointer;

	transition-property: background-color, border-radius;
	transition-duration: .5s;
}
.expand-section:before {
	content: "\e0cf";
	font-family: Typicons;
	font-size: 1.2em;
	padding-right: .5em;
}
.expand-section.expanded {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	background-color: rgba(0,0,0,.075);
}
.expand-section.expanded:before {
	content: "\e0bd";
}
.expandable-section {
	padding: 10px;
	background-color: rgba(0,0,0,.075);
	border-radius: 8px;
	border-top-left-radius: 0px;
}
.expandable-section p {
	margin: 0;
}
.expandable-section p i {
	font-size: .8em;
}

table {
	margin-top: 20px !important;
	border-collapse: collapse;
	text-align: center;
}
thead td {
	font-size: 1.15em;
}
table td {
	border: 1px solid black;
	padding: 10px;
}
.ttime {
	width: 25%;
}

tbody td {
	padding: 5px;
}