#filterFormContainer {
	margin-top: 2px;

	.js_filterUsers {
		//float: right;
    margin-right: 8px;
    margin-top: 5px;
	}
}

.filterFormTable {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	width: 99%;

	tr, td, th {
		border: 1px solid black;
		padding: 4px;
	}
	> thead {
		font-weight: bold;
	}
	td > label:not(:last-child) {
		margin-right: 10px;
	}
	input[type="text"], input[type="date"], input[type="number"], select {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	.focim {
		text-align: center;
		font-weight: bold;
	}
}
#resultContainer .resultTable { @extend .filterFormTable }
