// Amber flags
main {
	color: #EBF0FD!important;

	p {
		margin: 0;
		font-weight: bold;
		font-size: 1.1em;
	}
}
body {
	background-color: #71151F !important;
}
#links a {
	color: #EBF0FD!important;
}
#inner h1,h3 {
		margin: 0 0 10px;
		line-height: 1em;
		display: inline-block;
}