@import "vars";

h1 { margin: 0 0 13px !important }
.selectNotify {
	margin-left: 4px;
	background-color: #163069;
	padding: 1px;
	border-radius: 2px;
	color: white;
	display: none;
}
#calendar {
	margin-top: 5px;

	.fc-event {
		cursor: pointer;
		background: $NBlue;

		&.selectedEvent {
			border-color: $Grey !important;
		}
	}
	.fc-day-grid-event {
		padding: 1px !important;
		border: 3px solid transparent !important;
		transition: none !important;
	}
}

#dialogContent textarea { resize: vertical }
