@import "vars";

#calendar {
	margin-top: 12px;
	background-color: #B1BFDE;
	padding: 6px;
	border-radius: 3px;
}
h1 { margin: 0 0 13px !important }
.selectNotify {
	margin-left: 4px;
	background-color: #163069;
	padding: 1px;
	border-radius: 2px;
	color: white;
	display: none;
}
.fc-day-grid-event {
	padding: 1px !important;
	border: 3px solid transparent !important;
	transition: none !important;
}
.selectedEvent {
	border-color: $Grey !important;
}
#dialogContent {
	input[name=title] { width: 85% }
	textarea {
		resize: vertical;
		width: 97%;
	}
}
#dateRangePicker { width: 71% }
