@import "vars";

#h1cim { margin-bottom: 20px }

.files {
	display: block;
	list-style: none;
	padding: 0;
	margin: 5px 0 0;
	font-size: 0;

	> .new { background-color: $Grey !important }

	li {
		display: inline-block;
		padding: 7px;
		margin: 5px;
		border-radius: 5px;
		color: #fff;
		overflow: hidden;
		/* background-color: #AEC1EB; */

		@extend %color-palette;

		> div {
			font-size: 18px;
			text-shadow: 0 0 5px rgba(0, 0, 0, .5);
		}
		> .top {
			margin-bottom: 5px;

			> span {
				display: block;
				margin-left: 3px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			> .rovid { font-size: 1.3em }
			> .nev { font-style: italic }
		}
		> .bottom a {
			color: #fff !important;
			font-size: 24px;
			opacity: .8;
			border: 0;
			transition: opacity .1s !important;

			&:hover { opacity: 1 }
		}
	}
}
.title {
	margin-bottom: 0;
	text-shadow: 1px 1px;
}

/* File upload form */
.uploadFileForm {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 12px 2px 5px 12px;
	margin-top: 9px;
	margin-left: 4px;
	border-radius: 6px;
	display: block;

	> h3 { margin: 0 }
	> .fileFormContainer {
		display: flex !important;
		flex-flow: row wrap;

		> div {
			margin-top: 9px;
			padding: 9px;
			background-color: rgba(75, 105, 255, .7);
			border-radius: 2px;
			width: 280px;
			color: white;
			margin-bottom: 13px;
			margin-right: 11px;
			flex: 0 1 30%;
			max-width: 500px;

			input, textarea {
				display: block;
				box-sizing: border-box;
				width: 100%;
				max-width: 100%;
			}
		}
		.infoContainer * { margin-top: 7px }
	}
}
