@import "vars";
@import "landing-header";

// Mobil
@media all and (max-width: $Breakpoint){
	#heading {
		$padding: 5px;
		.help-wrap {
			position:absolute;
			top: $padding;
			right: $padding;
			height: $MoileHeadingHeight - ($padding*2);

			.btn {
				display: block;
				height: $MoileHeadingHeight - ($padding*2);
				box-sizing: border-box;
				font-size: 1.2em;
			}
		}
	}
	#wrap {
    padding-top: 50px !important;
	}
	#loginform {
		.input-wrap {
			> * {
				display: block;
			}
			input[name] {
				-webkit-appearance: none;
				width: 150px;
				margin: 0 auto 8px !important;
			}
		}
	}
}
// Asztali
@media all and (min-width: $Breakpoint){
	#heading {
		display: none;
	}
}

// Amber flag
#underDevelopment {
	margin: 0;
	font-weight: bold;
	font-size: 1.1em;
	color: #EBF0FD !important;
}

$LoaderHide: .4s;
#main {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;

	height: 100%;
	width: 100%;
	overflow-y: auto !important;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);
	color: #EBF0FD!important;

	cursor: default;
	user-select:none;

	&.loaded {
		animation: fadeout $LoaderHide linear;
		animation-fill-mode: forwards;
		pointer-events: none;
	}
}
@keyframes fadeout {
	to { opacity: 0 }
}
#wrap {
	text-align: center;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
}
#mid {
    display: table-cell;
    vertical-align: middle;
}
#inner {
	display: inline-block;
	width: auto;
	padding: 17.5px;
	margin: 10px;

	position: relative;
	overflow: hidden;

	background-color: rgba($LightBG,.3);
	box-shadow: 0 0 5px $LightBG, 0 0 15px rgba($LightBG,.3);
	border-radius: 10px;
	border: 5px solid rgba($LightBG,.35);
	box-sizing: border-box;

	h1, h3 {
		margin: 0 0 15px;
		line-height: 1.2em;
		display: inline-block;
	}

	// Animation times
	$ContentFadeOut: .2s;
	$FormShrink: .3s;

	&.animate {
		border: 10px solid $LightBG;
		background: $LightBG url('../img/preloader.svg') no-repeat 9999px;
		background-size: 350px 35px;
		transition-property: background-color, border;
		transition-duration: $FormShrink;
		transition-delay: $ContentFadeOut;

		animation:
			shrinkNcolor $FormShrink $ContentFadeOut                cubic-bezier(0.165, 0.84, 0.44, 1),
			preload      .2s         #{$FormShrink+$ContentFadeOut} steps(10) infinite;
		animation-fill-mode: forwards;

		&:before, &:after {
			z-index: 2;
			border-color: transparent;

			transition: border-color $FormShrink $ContentFadeOut;
		}
		> * {
			animation: fadeout $ContentFadeOut;
			animation-fill-mode: forwards;
		}
	}
	@keyframes shrinkNcolor {
		to {
			width: 55px;
			height: 55px;
			box-shadow: 0 0 0 transparent;
		}
	}
	@keyframes preload {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -350px 0;
		}
	}

	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: -1;
	}
	&:before {
		top: 0;
		left: 0;
		border-width: 35px 35px 0 0;
		border-color: rgba($LightBG,.4) transparent transparent transparent;
	}
	&:after {
		bottom: 0;
		right: 0;
		border-width: 0 0 35px 35px;
		border-color: transparent transparent rgba($LightBG,.4) transparent;
	}

	.logo img {
		width: 120px;
	}
	> h1 {
		margin: 0 0 10px;
		line-height: 1em;
	}
	p.redirect {
		margin: 10px 0;
		font-weight: normal;
	}
	#loginform {
		p label {
			margin-left: 10px;
		}
	}
}
body:not(.sidebar-slide) { background-color: $LoginBG !important }

/* Animation after login */
body.sidebar-slide {
	overflow-x: hidden;
	background-color: $LoginBG;
	animation-name: bgcolor;
	animation-duration: 0s;
	animation-delay: $LoaderHide;

	&, > #sidebar, > main {
		animation-fill-mode: forwards;
	}
	> #sidebar {
		width: 100%;
		background-color: $LoginBG;
		opacity: 0;

		animation-name: fadein, slidein;
		animation-duration: 0s, $LoaderHide;
		animation-delay: 0s, $LoaderHide;

		> * {
			opacity: 0;
			animation-name: fadein;
			animation-duration: .5s;
			animation-delay: $LoaderHide*2;
			animation-fill-mode: forwards;
		}
	}
	> main {
		left: 100%;
		width: 75%;
		animation-name: shrink;
		animation-duration: $LoaderHide;
		animation-delay: $LoaderHide;

		> * {
			opacity: 0;
			animation-name: fadein;
			animation-duration: .5s;
			animation-delay: $LoaderHide*2;
			animation-fill-mode: forwards;
		}
	}
}
@keyframes bgcolor {
	to { background-color: $LightBG }
}
@keyframes slidein {
	to {
		background-color: $Link;
		width: $SidebarWidth;
	}
}
@keyframes shrink {
	to {
		left: 0;
		margin-left: $SidebarWidth;
	}
}
@keyframes fadein {
	to { opacity: 1 }
}
@keyframes fadeout {
	to { opacity: 0 }
}

#loginform ~ p {
	margin: 5px 0;

	&.or {
		font-weight: bold;
		font-size: .8em;
		text-shadow: none;

		.text {
			margin: 0 10px;
		}
		.line {
			display: inline-block;
			height: 0;
			width: 100px;
			border-bottom: 1px solid;
			vertical-align: middle;
		}
	}
}
#extlogin-btns {
	display: inline-block;
	text-align: center;
	font-size: 0;
	border-radius: 5px;
	$BtnBorder: rgba(black, .3);
	border: 1px solid $BtnBorder;
	background: linear-gradient(to bottom, #fff 0%, #efefef 100%);

	> * {
		@include extconn-button(){
			display: inline-block;
			margin: 5px;
			transition: transform .2s;
			border-bottom: 0 !important;
			&:hover { transform: scale(1.3) }
		}
	}
}

#links {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;
	color: #EBF0FD !important;
	padding: 0;

	a {
		text-decoration: none;
		color: inherit !important;
		font-weight: bold;
	}
}
