@import "vars";

$LoaderHide: 1s;
#main {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;

	height: 100%;
	width: 100%;
	overflow-y: auto !important;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);

	cursor: default;
	user-select:none;

	&.loaded {
		opacity: 0;
		transform: scale(0);

		transition-property: opacity, transform;
		transition-duration: $LoaderHide;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}
}
#wrap {
	text-align: center;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
}
#mid {
    display: table-cell;
    vertical-align: middle;
}
#inner {
	display: inline-block;
	width: auto;
	padding: 17.5px;
	margin: 10px;

	position: relative;
	overflow: hidden;

	background-color: rgba(255,255,255,.3);
	box-shadow: 0 0 5px #fff, 0 0 15px rgba(255,255,255,.3);
	border-radius: 10px;
	border: 5px solid rgba(255,255,255,.35);
	box-sizing: border-box;

	// Animation times
	$ContentFadeOut: .1s;
	$FormShrink: .3s;

	&.animate {
		border: 10px solid #fff;
		background: #fff url('../img/preloader.svg') no-repeat 9999px;
		background-size: 350px 35px;
		transition-property: background-color, border;
		transition-duration: $FormShrink;
		transition-delay: $ContentFadeOut;

		animation:
			shrinkNcolor $FormShrink $ContentFadeOut                cubic-bezier(0.165, 0.84, 0.44, 1),
			preload      .2s         #{$FormShrink+$ContentFadeOut} steps(10) infinite;
		animation-fill-mode: forwards;

		&:before, &:after {
			z-index: 2;
			border-color: transparent;

			transition: border-color $FormShrink $ContentFadeOut;
		}
		> * {
			animation: fade $ContentFadeOut;
			animation-fill-mode: forwards;
			@keyframes fade {
				to { opacity: 0 }
			}
		}
	}
	@keyframes shrinkNcolor {
		to {
			width: 55px;
			height: 55px;
			box-shadow: 0 0 0 transparent;
		}
	}
	@keyframes preload {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -350px 0;
		}
	}

	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: -1;
	}
	&:before {
		top: 0;
		left: 0;
		border-width: 35px 35px 0 0;
		border-color: rgba(255,255,255,.4) transparent transparent transparent;
	}
	&:after {
		bottom: 0;
		right: 0;
		border-width: 0 0 35px 35px;
		border-color: transparent transparent rgba(255,255,255,.4) transparent;
	}

	> .logo {
		displaY: block;
		width: 120px;
		margin: 0 auto;
	}
	> h1 {
		margin: 0 0 10px;
		line-height: 1em;
	}
	p.redirect {
		margin: 10px 0;
		font-weight: normal;
	}
	form {
		> input[name] {
			-webkit-appearance: none;
			width: 150px;
		}
		p {
			margin: 10px 0 0;

			label {
				margin-left: 10px;
			}
		}
	}
}

/* Animation after login */
body.sidebar-slide {
	> #sidebar, > main {
		animation-duration: .7s;
		animation-fill-mode: forwards;
		animation-delay: $LoaderHide/2;
	}
	> #sidebar {
		left: -25%;
		animation-name: slidein;
	}
	> main { animation-name: shrink }
}
@keyframes slidein {
	to { left: 0 }
}
@keyframes shrink {
	to {
		width: 75%;
		margin-left: 25%;
	}
}

#loginform ~ p {
	margin: 5px 0;

	&.or {
		font-weight: bold;
		font-size: .8em;
		text-shadow: none;

		.text {
			margin: 0 10px;
		}
		.line {
			display: inline-block;
			height: 0;
			width: 100px;
			border-bottom: 1px solid;
			vertical-align: middle;
		}
	}
}
#extlogin-btns {
	display: inline-block;
	text-align: center;
	font-size: 0;
	border-radius: 5px;
	$BtnBorder: rgba(black, .3);
	border: 1px solid $BtnBorder;
	background: linear-gradient(to bottom, #fff 0%, #efefef 100%);

	> * {
		@include extconn-button(){
			display: inline-block;
			margin: 5px;
			transition: transform .2s;
			border-bottom: 0 !important;
			&:hover { transform: scale(1.3) }
		}
	}
}

#links {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;

	a {
		text-decoration: none;
		color: $Link !important;
		font-weight: bold;
	}
}
