@import "vars";

#main {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;

	height: 100%;
	width: 100%;
	overflow-y: auto !important;
	text-shadow: 0 2px 2px rgba(0,0,0,.2);

	cursor:default;

	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
#wrap {
	text-align: center;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	top: 0;
	left: 0;
}
#mid {
    display: table-cell;
    vertical-align: middle;
}
#inner {
	display: inline-block;
	width: auto;
	padding: 17.5px;
	margin: 10px;

	position: relative;
	overflow: hidden;

	background-color: rgba(255,255,255,.3);
	box-shadow: 0 0 5px #fff, 0 0 15px rgba(255,255,255,.3);
	border-radius: 10px;
	border: 5px solid rgba(255,255,255,.35);
	box-sizing: border-box;

	&.animate {
		animation: shrinkNcolor .5s, preload .3s steps(10) infinite;
		animation-delay: .25s, .75s;
		animation-fill-mode: forwards;
		background-size: 350px 35px;
		background: url('../img/preloader.png') no-repeat 3200px;

		&:before, &:after {
			z-index: 2;
			border-color: transparent;
		}
		> * {
			animation: fade .25s;
			animation-fill-mode: forwards;
		}
		@keyframes fade {
			to { opacity: 0 }
		}
	}
	@keyframes shrinkNcolor {
		to {
			width: 40px;
			height: 40px;
			background-color: #fff;
			box-shadow: 0 0 0 transparent;
			border: 10px solid #fff;
		}
	}
	@keyframes preload {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -350px 0;
		}
	}

	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: -1;

		transition: border-color 1s;
		transition-delay: .25s;
	}
	&:before {
		top: 0;
		left: 0;
		border-width: 35px 35px 0 0;
		border-color: rgba(255,255,255,.4) transparent transparent transparent;
	}
	&:after {
		bottom: 0;
		right: 0;
		border-width: 0 0 35px 35px;
		border-color: transparent transparent rgba(255,255,255,.4) transparent;
	}

	> h1 {
		margin: 0 0 10px;
		line-height: 1em;
	}
	form {
		> input[name] {
			-webkit-appearance: none;
			width: 150px;
		}
		p {
			margin: 10px 0 0;

			label {
				margin-left: 10px;
			}
		}
	}
}

/* Animation after login */
body.sidebar-slide > #sidebar {
	animation: slidein 1s;
	animation-fill-mode: forwards;
}
@keyframes slidein {
	from {
		left: -25%;
	}
}
body.sidebar-slide > main {
	animation: shrink 1s;
	animation-fill-mode: forwards;
}
@keyframes shrink {
	to {
		width: 75%;
		margin-left: 25%;
	}
}

.js_login_google {
	border: 0 !important;
	transition: none !important;
	margin-top: 5px;
	display: block;
}
.js_login_google img {
	width: 208px;
}

#links {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 10;

	a {
		text-decoration: none;
		color: $Link !important;
		font-weight: bold;
	}
}
